* {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #1F2937;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sub-text, .links {
    font-size: 18px;
    color: #E5E7EB;
    padding: 16px;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.sub-text {
    margin-bottom: 8px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    color: #E5E7EB;
    padding: 2px 24px;
}

.hero img {
    height: 200px;
    width: 800px;
}

.menu {
    display: flex;
    justify-content: space-between;
    
}

.hero {
    display: flex;
    margin-top: 32px;
}



.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 32px;
}


.points {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    flex-wrap: wrap;
}

.points img {
    height: 150px;
    width: 150px;
}

.point {
    width: 22%;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.point img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 6px;
    border-color: #3882F6;
    border-width: 6px;
}

.point1-text {
    font-size: 1rem;
    width: 100%;
}

.quote-section {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 48px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.quote-by {
    text-align: right;
    font-weight: bold;
    margin: 16px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.container2 button {
    border-color: #F9FAF8;
    border-style: solid;
    border-width: 2px;
    white-space: nowrap;
}

.container2 {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    margin: 32px;
    border-radius: 4px;
    padding: 32px;
}

.call-texts {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-right: 96px;
}

.call-text1 {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
}

.call-text2 {
    color: #E5E7EB;
    font-size: 12px;
}

footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.footer-text {
    color: #E5E7EB;
    margin: 24px;
}


    

